<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Posts</title>
</head>

<body>

    <body>
        {{>nav}}
        <h1>{{name}} All User Blog Posts</h1>
        <form action="/blogPosts" method="post">
            <input type="text" name="name" id="name">
            <button id="search" type="submit">Search</button>
        </form>
        <div class="blogs">
            {{#each posts}}
            <form id="blog-posts{{this.post_id}}" action="/post/{{this.post_id}}" method="post">
                <h3 onclick="document.getElementById('blog-posts{{this.post_id}}').submit();">{{this.title}}</h3>
            </form>
            {{/each}}
        </div>
    </body>
</body>

</html>